<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">
    <!--配置作业注册中心 -->
    <reg:zookeeper id="regCenter" server-lists="192.168.1.2:2181" namespace="jd-dispatch"
                   base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3"/>

    <!-- 配置作业-->
    <job:simple id="taskExecuteJob" class="org.sprintdragon.task.dispatch.scheduled.TaskExecuteJob"
                registry-center-ref="regCenter" cron="0/10 * * * * ?" sharding-total-count="3"
                sharding-item-parameters="0=A,1=B,2=C" overwrite="true"/>

    <!--Elastic-Job-Lite提供最安全的方式执行作业。将分片总数设置为1，并使用多于1台的服务器执行作业，作业将会以1主n从的方式执行。-->
    <!--一旦执行作业的服务器崩溃，等待执行的服务器将会在下次作业启动时替补执行。开启失效转移功能效果更好，可以保证在本次作业执行时崩溃，备机立即启动替补执行。-->
    <job:simple id="taskResumeJob" class="org.sprintdragon.task.dispatch.scheduled.TaskResumeJob"
                registry-center-ref="regCenter" cron="0/10 * * * * ?" sharding-total-count="1"
                sharding-item-parameters="0=A" failover="true" overwrite="true"/>
</beans>