<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:workers="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="traceThreadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5"/>
        <property name="maxPoolSize" value="5"/>
        <property name="keepAliveSeconds" value="5"/>
        <property name="queueCapacity" value="1000"/>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>

    <bean id="blockingWaitStrategy" class="com.lmax.disruptor.BlockingWaitStrategy"/>
    <bean id="traceCellFactory" class="org.sprintdragon.task.dispatch.node.biz.taskinfo.disruptor.TaskInfoFactory"/>
    <bean id="disruptor" class="com.lmax.disruptor.dsl.Disruptor">
        <constructor-arg name="eventFactory" ref="traceCellFactory"/>
        <constructor-arg name="ringBufferSize" value="8192"/>
        <constructor-arg name="executor" ref="traceThreadPool"/>
        <constructor-arg name="producerType" value="MULTI"/>
        <constructor-arg name="waitStrategy" ref="blockingWaitStrategy"/>
    </bean>


    <bean id="cellEventHandler" class="org.sprintdragon.task.dispatch.node.biz.taskinfo.disruptor.TaskInfoEventHandler"/>

    <bean id="disruptorFacade" class="org.sprintdragon.task.dispatch.node.disruptor.DisruptorFacade" init-method="start"
          destroy-method="shutdown">
        <constructor-arg name="disruptor" ref="disruptor"/>
        <constructor-arg name="workHandlers" ref="workers"/>
    </bean>


    <workers:list id="workers">
        <bean id="cellEventHandler1"
              class="org.sprintdragon.task.dispatch.node.biz.taskinfo.disruptor.TaskInfoEventHandler"/>
        <bean id="cellEventHandler2"
              class="org.sprintdragon.task.dispatch.node.biz.taskinfo.disruptor.TaskInfoEventHandler"/>
        <bean id="cellEventHandler3"
              class="org.sprintdragon.task.dispatch.node.biz.taskinfo.disruptor.TaskInfoEventHandler"/>
        <bean id="cellEventHandler4"
              class="org.sprintdragon.task.dispatch.node.biz.taskinfo.disruptor.TaskInfoEventHandler"/>
        <bean id="cellEventHandler5"
              class="org.sprintdragon.task.dispatch.node.biz.taskinfo.disruptor.TaskInfoEventHandler"/>
    </workers:list>


</beans>